/*
 * Stylus Materialize -- Material Design Typography Styles
 * src: https://material.google.com/style/typography.html#typography-styles
 *
 * CSS formal weights:
 * 100 Thin (Hairline)
 * 200 Extra Light (Ultra Light)
 * 300 Light
 * 400 Normal
 * 500 Medium
 * 600 Semi Bold (Demi Bold)
 * 700 Bold
 * 800 Extra Bold (Ultra Bold)
 * 900 Black (Heavy)
 *
 * based on a typographic scale of 12, 14, 16, 20, and 34.
 *
 * usage:
 * tip: use these classes to handle headings/type, rather than CSS headings (eg h1, h2, ...)
 *  eg. <h1 class="display4">
 *
 */

.display4
    font-size 112px
    font-weight 300
    opacity 0.54

.display3
    font-size 56px
    font-weight 400
    opacity 0.54
    letter-spacing -5px

.display2
    font-size 45px
    font-weight 400
    line-height 48px
    opacity 0.54

.display1
    font-size 34px
    font-weight 400
    line-height 40px
    opacity 0.54

.headline
    font-size 24px
    font-weight 400
    line-height 32px
    opacity 0.87

.title
    font-size 20px
    font-weight 500
    opacity 0.87

// @todo media query mixin: 16px device, 15px desktop
.subheading2
    font-size 16px
    font-weight 500
    line-height 28px
    opacity 0.87

// @todo media query mixin: 16px device, 15px desktop
.subheading1
    font-size 16px
    font-weight 400
    line-height 24px
    opacity 0.87

// @todo media query mixin: 14px device, 13px desktop
.body2
    font-size 14px
    font-weight 500
    line-height 24px
    opacity 0.87

// @todo media query mixin: 14px device, 13px desktop
.body1
    font-size 14px
    font-weight 400
    line-height 20px
    opacity 0.87

.caption
    font-size 14px
    font-weight 400
    opacity 0.54

.button
    font-size 14px
    font-weight 500
    text-transform uppercase
    opacity 0.87

