/*
 * Stylus Materialize -- Material Design Margins
 * src: https://material.google.com/layout/metrics-keylines.html
 *
 */

 /* ** WIP Notes **
 *
 * Screen edge left and right margins: 16dp
 * Content associated with an icon or avatar left margin: 72dp
 * Horizontal margins on mobile: 16dp

 * Vertical spacing:
 * Status bar: 24dp
 * Toolbar: 56dp
 * Subtitle: 48dp
 * List item: 72dp

 * These aspect ratios are recommended:
 * 16:9
 * 3:2
 * 4:3
 * 1:1
 * 3:4
 * 2:3
 * The aspect ratio is always expressed as a fraction.
 * For example, 3:2 is treated as 3/2.
 * Width = Aspect ratio * Height
 * Height = Width/Aspect ratio

 * Breakpoints
 * https: *material.google.com/layout/responsive-ui.html
 * 0 - xsmall - 4 - 16
 * 360 - xsmall - 4 - 16
 * 400 - xsmall - 4 - 16
 * 480 - xsmall - 4 - 16
 * 600 - small - 8 - 16/24
 * 720 - small - 8 - 16/24
 * 840 - small - 12 - 16/24
 * 960 - small - 12 - 24
 * 1024 - medium - 12 - 24
 * 1280 - medium - 12 - 24
 * 1440 - large - 12 - 24
 * 1600 - large - 12 - 24
 * 1920 - xlarge - 12 - 24
 *
 */